*{
  margin: 0;
  padding: 0;
}

.app{
  background-color: #fafafa;
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: white;
  padding: 20px;
  border-bottom: solid 1px lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage{
  object-fit: contain;
}

.app__posts{
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app__postsright{
  /* margin-left: 20px; */
}

.app__signup{
  display: flex;
  flex-direction: column;
}