.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 35px;
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text{
    font-weight: normal;
    padding: 20px;
}

.post__header{
    display: flex;
    align-items: center;
    padding: 15px;
}

.post__avatar{
    margin-right: 10px;
}

.post__commentbox{
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.post__input{
    flex: 1;
    border: none;
    padding: 8px 1.2rem;
    border-top: 1px solid lightgray;
}

.post__button{
    flex: 0;
    padding: 0 .4rem;
    border: none;
    border-top: 1px solid lightgray;
    background: transparent;
    color: #6082a3;
}

.post__comments{
    padding: 5px 20px 10px;
}